<!doctype html>
<html lang="en">
  <!--head-->
  <body>
    <main>
      <div class="container">
        <h1>Confirmation needed</h1>

        <div class="content">
          <p>
            <span>This confirmation link is only valid for the next 15 minutes.</span><br>
            To confirm your password reset, use the confirm button below.
          </p>
          <a class="action" href="<!--url-->/about?conf-ver=<!--token-->">Confirm Reset</a>

          <p class="note">
            If this wasn't you, please reset your password immediately by selecting "Forgot Password" on the
            <a href="<!--url-->/about?login=true">login form</a>. If you're currently logged in, you can reset your
            password from your <a href="<!--url-->/profile">profile</a>.<br>
            To recover a stolen or lost profile, contact <a href="<!--url-->/support">support</a>.
          </p>
        </div>
      </div>
    </main>
    <!--footer-->
  </body>
</html>