.button {
  cursor: pointer;
  &.icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.primary:not(.icon),
  &.secondary:not(.icon),
  &.ghost:not(.icon) {
    padding-inline: 16px;
    font-weight: 600 !important;
    color: var(--c-heading-2);
  }
  &.primary,
  &.secondary {
    border: 2px solid var(--c-purple-900);
    border-radius: 6px;
    &:not([aria-live])[disabled] {
      opacity: 0.48;
    }
    & > span[role="status"] {
      margin-inline: auto;
    }

    &a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.primary,
  &.chip {
    position: relative;
    background: linear-gradient(180deg, var(--c-purple-500), #302259);
    z-index: 1;
    transition: 0.22s ease-in-out border-color;
    &::before,
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      /* border-radius: 6px; */
      z-index: -1;
      opacity: 0;
      transition: opacity 0.22s ease-in-out;
    }
    &::before {
      background: linear-gradient(180deg, var(--c-purple-600), #2b1f51);
    }
    &::after {
      background: linear-gradient(180deg, var(--c-purple-700), #2b1f51);
    }
    &:hover::before,
    &:focus-visible::before {
      opacity: 1;
    }
    &:active,
    &[data-key-press="true"] {
      border-color: var(--c-purple-800);
    }
    &:active::after,
    &[data-key-press="true"]::after,
    &[aria-pressed="true"]::after {
      opacity: 1;
    }
    &[aria-pressed="true"] {
      border-color: var(--c-purple-600);
    }
  }
  &.primary {
    &::before,
    &::after {
      border-radius: 6px;
    }
    /* &:active,
    &[data-key-press="true"] {
      border-color: var(--c-purple-800);
    } */
  }

  &.secondary {
    background-color: transparent;
    border: 2px solid var(--c-purple-800);
    transition:
      0.22s ease-in-out background-color,
      0.22s ease-in-out border-color;
    &:hover,
    &:focus-visible,
    &[aria-pressed="true"] {
      border-color: var(--c-purple-600);
    }
    &:active,
    &[data-key-press="true"],
    &[aria-pressed="true"] {
      background: #201735;
      border-color: var(--c-purple-600);
    }
  }

  &.ghost {
    background-color: transparent;
    border-radius: 6px;
    transition:
      0.22s ease-in-out background-color,
      0.22s ease-in-out color;
    &:not(.icon) {
      padding-inline: 16px;
    }
    &:hover,
    &:focus-visible {
      background-color: rgba(95, 67, 178, 0.1);
      color: var(--c-purple-50);
    }
    &:active,
    &[data-key-press="true"],
    &[aria-pressed="true"] {
      background-color: rgba(95, 67, 178, 0.25);
    }
  }

  &.chip {
    padding-inline: 1.5rem;
    border: 2px solid var(--c-purple-900);
    border-radius: 2rem;
    color: var(--c-heading-2);
    &::before,
    &::after {
      border-radius: 2rem;
    }
    /* &:active,
    &[data-key-press="true"] {
      border-color: var(--c-purple-600);
    } */
    &[aria-pressed="true"]:active {
      opacity: 1;
    }
  }

  &.switch {
    position: relative;
    /* min-width: 72px; */
    border: 2px solid var(--c-purple-800);
    border-radius: 6rem;
    background-color: var(--c-lvl-2);
    z-index: 1;
    transition: 0.22s ease-in-out background-color;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      border-radius: 50%;
      background-color: var(--c-purple-400);
      transition: 0.38s ease-in-out left; 
    },
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 6rem;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.22s ease-in-out;
    }
    &::after {
      background: linear-gradient(180deg, var(--c-purple-700), #2b1f51);
    }
    &:hover,
    &:focus-visible {
      background-color: var(--c-lvl-4);
    }
    &:active::after,
    &[data-key-press="true"]::after,
    &[aria-checked="true"]::after {
      opacity: 1;
    }
  }

  &.exit:not(.ghost) {
    border: 2px solid #52396e;
    border-radius: 6px;
    background-color: var(--c-magenta-500);
    transition: 0.22s ease-in-out background-color;
    &:hover,
    &:focus-visible {
      background-color: var(--c-magenta-400);
    }
    &:active,
    &[data-key-press="true"] {
      background-color: var(--c-magenta-300);
    }
  }

  &.xsm {
    &:not(.icon) {
      font: var(--para-xx-small);
      font-size: 8px;
    }
    height: 18px;
    &.icon {
      width: 18px;
    }
    &.switch {
      min-width: 52px;
      &::before {
        left: 3px;
        width: 10px;
        height: calc(100% - 2px - 2px);
      }
      &:active,
      &[data-key-press="true"],
      &[aria-checked="true"] {
        &::before {
          left: calc(100% - 10px - 2px);
        }
      }
    }
  }
  &.sm {
    &:not(.icon) {
      font: var(--para-xx-small);
    }
    height: 24px;
    &.icon {
      width: 24px;
    }
    &.switch {
      min-width: 60px;
      &::before {
        left: 3px;
        width: 14px;
        height: calc(100% - 3px - 3px);
      }
      &:active,
      &[data-key-press="true"],
      &[aria-checked="true"] {
        &::before {
          left: calc(100% - 14px - 3px);
        }
      }
    }
  }
  &.md {
    &:not(.icon) {
      font: var(--para-small);
    }
    &.chip {
      height: 35px;
      font-size: 18px;
      font-style: italic;
    }
    &:not(.chip) {
      height: 32px;
      &.icon {
        width: 32px;
      }
    }
    &.switch {
      min-width: 72px;
      &::before {
        left: 4px;
        width: 20px;
        height: calc(100% - 4px - 4px);
      }
      &:active,
      &[data-key-press="true"],
      &[aria-checked="true"] {
        &::before {
          left: calc(100% - 20px - 4px);
        }
      }
    }
  }
  &.lrg {
    &.chip {
      font-size: 24px;
      font-style: italic;
    }
    height: 40px;
    &.icon {
      width: 40px;
    }
    &.switch {
      min-width: 84px;
      &::before {
        left: 5px;
        width: 26px;
        height: calc(100% - 5px - 5px);
      }
      &:active,
      &[data-key-press="true"],
      &[aria-checked="true"] {
        &::before {
          left: calc(100% - 26px - 5px);
        }
      }
    }
  }
  &.xl {
    &:not(.icon) {
      font: var(--para-large);
    }
    height: 48px;
    &.icon {
      width: 48px;
    }
    &.switch {
      min-width: 94px;
      &::before {
        left: 6px;
        width: 32px;
        height: calc(100% - 6px - 6px);
      }
      &:active,
      &[data-key-press="true"],
      &[aria-checked="true"] {
        &::before {
          left: calc(100% - 32px - 6px);
        }
      }
    }
  }
}
