.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;

  &.primary:not(.icon),
  &.secondary:not(.icon),
  &.ghost:not(.icon) {
    padding-inline: 16px;
    font-weight: 600 !important;
    color: var(--c-heading-2);
  }
  &.primary,
  &.secondary {
    border: 2px solid var(--c-purple-900);
    border-radius: 6px;
  }
  &.primary {
    background: linear-gradient(180deg, var(--c-purple-500), #302259);
    &::before,
    &::after {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 6px;
      z-index: -1;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
    &::before {
      background: linear-gradient(180deg, var(--c-purple-600), #2b1f51);
    }
    &::after {
      background: linear-gradient(180deg, var(--c-purple-700), #2b1f51);
    }
    &:hover::before,
    &:focus-visible::before {
      opacity: 1;
    }
    &:active,
    &[data-key-press="true"] {
      border-color: var(--c-purple-800);
    }
    &:active::after,
    &[data-key-press="true"]::after {
      opacity: 1;
    }
  }
  &.secondary {
    background-color: transparent;
    border: 2px solid var(--c-purple-800);
    transition: 0.22s ease-in-out background-color;
    &:hover,
    &:focus-visible {
      border-color: var(--c-purple-600);
    }
    &:active,
    &[data-key-press="true"] {
      background: #201735;
      border-color: var(--c-purple-600);
    }
  }

  &.ghost {
    background-color: transparent;
    padding-inline: 16px;
    transition:
      0.22s ease-in-out background-color,
      0.22s ease-in-out color;
    &:not(.icon) {
      border-radius: 6px;
    }
    &:hover,
    &:focus-visible {
      background-color: rgba(95, 67, 178, 0.1);
      color: var(--c-purple-50);
    }
    &:active,
    &[data-key-press="true"] {
      background-color: rgba(95, 67, 178, 0.25);
    }
  }

  &.exit:not(.sm) {
    border: 2px solid #52396e;
    border-radius: 6px;
    background-color: var(--c-magenta-500);
    transition: 0.22s ease-in-out background-color;
    &:hover,
    &:focus-visible {
      background-color: var(--c-magenta-400);
    }
    &:active,
    &[data-key-press="true"] {
      background-color: var(--c-magenta-300);
    }
  }

  &.sm {
    font: var(--para-xx-small);
    height: 24px;
    &.icon {
      width: 24px;
    }
  }
  &.md {
    font: var(--para-small);
    height: 32px;
    &.icon {
      width: 32px;
    }
  }
  &.lrg {
    height: 40px;
    &.icon {
      width: 40px;
    }
  }
  &.xl {
    font: var(--para-large);
    height: 48px;
    &.icon {
      width: 48px;
    }
  }
}
