/* [typing="true"] is for the input and [selected="true"] is for the select. */

.control {
  & small[role="alert"] {
    display: block;
    margin-top: 4px;
    font: var(--para-small);
    line-height: 20px;
    color: var(--c-status-red);
  }

  & .inputInner,
  & .selectInner {
    --input-fade: rgba(239, 239, 239, 0.85);

    &.primary,
    &.callingCode {
      border: 2px solid var(--c-purple-800);
      border-radius: 6px;
      &[data-focused="true"],
      &[data-typing="true"],
      &[data-selected="true"] {
        & label {
          top: -4%;
          left: calc(1rem - 4px);
          padding-inline: 4px;
          line-height: 1 !important;
        }
      }
      &[data-focused="true"] {
        border-color: var(--c-purple-700);
        & label {
          background-color: var(--c-lvl-3) !important;
          color: var(--c-heading-2);
          & .required {
            color: var(--c-status-red);
          }
        }
        & label {
          color: var(--c-heading-2);
          & .required {
            color: var(--c-status-red);
          }
        }
      }

      & input,
      & select,
      & textarea {
        outline: none;
      }
    }

    &.primary,
    &.callingCode,
    &.ghost {
      position: relative;
      transition:
        0.28s ease-in-out background-color,
        0.28s ease-in-out border-color;
      &[data-disabled="true"] {
        & label,
        & input,
        & select,
        & svg {
          opacity: 0.48;
        }
      }

      & label,
      &.selectInner > svg {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      & label {
        left: 1rem;
        color: var(--input-fade);
        pointer-events: none;
        transition:
          0.28s ease-in-out color,
          0.28s ease-in-out background-color,
          0.28s ease-in-out top,
          0.38s ease-in-out font-size;
        & .required {
          color: rgba(198, 59, 80, 0.85);
          transition: 0.28s ease-in-out color;
        }
      }
      & input,
      & select,
      & textarea {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }

      &.md {
        height: 32px;
        & input,
        & select,
        & label {
          font: var(--para-small);
        }
        &[data-focused="true"] label,
        &[data-typing="true"] label,
        &[data-selected="true"] label {
          font-size: 12px;
        }
      }
      &.lrg {
        height: 40px;
        & input,
        & select,
        & label {
          font: var(--para-regular);
        }
        &[data-focused="true"] label,
        &[data-typing="true"] label,
        &[data-selected="true"] label {
          font-size: 14px;
        }
      }
      &.xl {
        height: 48px;
        & input,
        & label {
          font: var(--para-medium);
        }
        &[data-focused="true"] label,
        &[data-typing="true"] label,
        &[data-selected="true"] label {
          font-size: 16px;
        }
      }
    }
  }
}
