<!doctype html>
<html lang="en">
  <!--head-->
  <body>
    <main>
      <div class="container">
        <header>
          <h1>You're Almost There</h1>
          <p id="txt">To verify your email, use the verify button below.</p>
        </header>
        <div class="content">
          <p>
            Greetings! Thank you so much for your endeavour through Quest Casino.
          </p>
          <a class="action" aria-describedby="txt" href="<!--url-->/about?prof-ver=<!--token-->">Verify Email</a>
          <p class="note">Best of luck <3 <span>- development team.</span></p>
        </div>
      </div>
    </main>
    <!--footer-->
  </body>
</html>
