.about :global(.viewport) > div {
  & section {
    margin-bottom: 2rem;
    &:last-of-type {
      margin-bottom: 3rem;
    }
    & h2 {
      font: var(--h2);
      font-size: var(--h2-clamp);
      margin-bottom: 1rem;
    }
  }

  & .community {
    & > p:last-of-type {
      margin-block: 20px 1.5rem;
    }

    & .carContainer {
      position: relative;
      & :global(.blob) {
        top: calc(50% + 22px);
        transform: translateY(-50%);
        filter: blur(50px);
        & svg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      & .indicators {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin-top: 1rem;
        & span {
          display: inline-block;
          width: 1rem;
          height: 1rem;
          border: 2px solid var(--c-purple-800);
          background-color: var(--c-purple-500);
          transition:
            0.38s ease-in-out width,
            0.38s ease-in-out background-color;
          &[data-current="false"] {
            border-radius: 50%;
          }
          &[data-current="true"] {
            width: 2rem;
            border-radius: 1rem;
            background-color: var(--c-purple-700);
          }
        }
      }

      & .carousel {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        height: 135px;
        & button {
          margin-top: 8px;
          height: 94px;
          &.left svg {
            transform: rotate(90deg) translateY(2px);
          }
          &.right svg {
            transform: rotate(-90deg) translateY(2px);
          }
        }

        & .innerWrapper {
          position: relative;
          width: 100%;
          overflow: hidden;
          & .inner {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            gap: 1rem;

            & .testimonial {
              position: relative;
              display: flex;
              width: 310px;
              padding: 0.5rem 0.5rem 0.5rem 0;
              z-index: 1;
              & .bg {
                position: absolute;
                top: 0;
                right: 0;
                width: calc(100% - 0.5rem - 36px);
                height: 100%;
                border: 2px solid var(--c-purple-border);
                border-radius: 1rem 0.75rem 0.75rem 1rem;
                background-color: var(--c-lvl-1-trns);
                z-index: -1;
              }

              & > div:first-of-type {
                flex-shrink: 0;
              }
              & > div:last-child {
                display: flex;
                justify-content: center;
                flex-direction: column;
                gap: 6px;
                width: 100%;
                padding: 0.5rem;
                & p {
                  font: var(--para-xx-small);
                }
                & > div {
                  display: flex;
                  justify-content: space-between;
                  & h5 {
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    font: var(--para-xx-small);
                    font-size: 0.5rem;
                    color: var(--c-para-faded);
                    & svg {
                      opacity: 0.9;
                    }
                  }
                  & .stars {
                    display: flex;
                    gap: 4px;
                    & img {
                      width: 1rem;
                    }
                  }
                }
              }

              &[data-current="true"] {
                margin-inline: 2rem;
                transform: translateY(12px) scale(1.21);
              }
            }
          }
        }
      }
    }
  }

  & footer {
    & p {
      font: var(--para-small);
      color: var(--c-para-faded);
    }
    & a {
      display: block;
      width: fit-content;
      margin-top: 2px;
      font: var(--para-x-small);
      color: #dcdcdc;
    }
  }
}
