@import "../../customMedia.css";

.home > div > :global(.viewport) > div {
  --_horz-scrollbar-height: 19px;

  & section.hero,
  & section.comingSoon,
  & section.games {
    & > hgroup,
    & header hgroup {
      align-items: center;
      gap: 0.75rem;
      & h2 {
        font: var(--h2);
        font-size: var(--h2-clamp);
      }
    }
    &.comingSoon ul li.game,
    & .content {
      border: 2px solid var(--c-purple-border);
      border-radius: 12px;
      background-color: var(--c-lvl-1-trns);
      backdrop-filter: blur(40px);
    }
  }

  & section.hero {
    margin-bottom: 3rem;
    & .chips {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      margin-bottom: 1rem;
      @media (--small-breakpoint) {
        gap: 1rem;
      }
    }

    & .carousel {
      position: relative;
      height: 279px;
      border: 2px solid rgba(95, 67, 178, 0.65);
      border-radius: 12px;
      background: linear-gradient(
        105deg,
        rgba(52, 37, 98, 0.65) 0%,
        rgba(95, 67, 178, 0.65) 61%,
        rgba(126, 48, 126, 0.65) 100%
      );
      backdrop-filter: blur(40px);
      & .inner {
        height: 100%;
        & .slide {
          display: flex;
          height: inherit;
          & h3 {
            font: var(--h1);
            font-size: var(--h1-clamp);
            margin-bottom: 6px;
            & span {
              background: linear-gradient(100deg, var(--c-magenta-500), var(--c-purple-400));
              background-clip: text;
              color: transparent;
              font-style: italic;
            }
          }
          & > div:first-child {
            width: 100%;
          }

          &[data-slide="News"],
          &[data-slide="Events"] {
            justify-content: space-between;
            & > div:first-child {
              & :global(.viewport) {
                height: 100%;
                padding: 1.25rem 1.5rem 1.25rem 2rem;
              }
              & :global(.scrollbar) {
                margin-block: 0.75rem;
                @media (--large-breakpoint), (--medium-breakpoint) {
                  margin-bottom: 2rem;
                }
                transform: translateX(-4px);
              }
            }
            & > div:last-child {
              max-width: 456px;
              padding: 2rem 2rem 2rem 0;
              & img {
                border: 2px solid #735BBE;
                border-radius: 6px;
              }
            }
          }

          &[data-slide="Events"] {
            & > div:first-child {
              & :global(.viewport) {
                & > div {
                  & .headline hr {
                    border-top: 1px solid rgba(127, 105, 193, 0.82);
                    margin-block: 1.063rem 1.25rem;
                    width: calc(100% + 0.75rem);
                    transform: translateX(-4px);
                  }
                }
              }
            }
          }

          &[data-slide="Players"] {
            flex-direction: column;
            padding: 1.25rem 1.5rem 2rem 2rem;
            & > div:first-child {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            & > div:last-child {
              --_column-count: 4;

              height: 100%;
              & :global(.viewport) {
                position: absolute;
                width: 100%;
                & > div {
                  & > p {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                  }

                  & ul {
                    display: grid;
                    grid-template-columns: repeat(var(--_column-count), minmax(100px, 1fr));
                    gap: 1.5rem 1rem;
                    min-width: 386px;
                    & li.user {
                      display: flex;
                      align-items: center;
                      & hgroup {
                        min-width: 0;
                        margin-left: 0.5rem;
                        & h4 {
                          font: var(--h4);
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          overflow: hidden;
                        }
                        & p {
                          position: relative;
                          bottom: 2px;
                          margin-bottom: -2px;
                          font: var(--para-x-small);
                          white-space: nowrap;
                          text-overflow: ellipsis;
                          overflow: hidden;
                        }
                      }

                      & .hgroupSkel {
                        flex-grow: 1;
                        margin-left: 0.5rem;
                        & div:first-child {
                          margin-bottom: 5px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media (width <= 722px) {
        height: 228px;
        & .inner .slide {
          &[data-slide="News"],
          &[data-slide="Events"] {
            & > div:first-child :global(.viewport) {
              padding-top: 0.75rem;
              padding-left: 1rem;
            }
            & > div:last-child {
              width: 85%;
              padding-top: 0.75rem;
              padding-right: 1rem;
            }
          }
          &[data-slide="Players"] {
            padding: 0.75rem 1rem 2rem;
            & > div:last-child {
              display: flex;
              align-items: center;
            }
          }
        }
      }
      @media (--small-breakpoint) {
        & .inner .slide {
          &[data-slide="News"] > div:last-child,
          &[data-slide="Events"] > div:last-child {
            display: none;
          }
        }
      }

      & .indicators {
        position: absolute;
        bottom: 10px;
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        width: 100%;
        & button {
          width: 1rem;
          height: 1rem;
          border: 1px solid var(--c-purple-800);
          background-color: var(--c-purple-400);
          transition: 0.34s ease-in-out width, 0.34s ease-in-out border-radius;
          &[aria-pressed="false"] {
            border-radius: 50%;
          }
          &[aria-pressed="true"] {
            width: 2rem;
            border-radius: 1rem;
          }
        }
      }
    }
  }

  & section.comingSoon {
    --_gameSoonCardHeight: clamp(9.0354375rem, 7.669200000000001rem + 3.5544390243902435vw, 11.3125rem);
    @media (--small-breakpoint) {
      --_gameSoonCardHeight: 135px;
    }
    --_aside-dragger-width: 8px;

    margin-bottom: calc(3rem - var(--_horz-scrollbar-height));

    & > hgroup {
      margin-bottom: 1rem;
    }

    & > div:last-child {
      position: relative;
      height: calc(var(--_gameSoonCardHeight) + var(--_horz-scrollbar-height));
      & :global(.viewport) {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + calc(var(--padding-main-horz) + var(--padding-main-horz)) + var(--_aside-dragger-width));
        padding-left: var(--padding-main-horz);
        transform: translateX(calc(-1 * var(--padding-main-horz)));
        
        & > div {
          & > p {
            color: var(--c-heading-2);
          }

          & ul.gamesSoon {
            display: flex;
            gap: 3rem;
            & li.game {
              display: flex;
              gap: 1rem;
              width: clamp(18.5rem, 16.800012499999998rem + 4.422731707317076vw, 21.3333125rem);
              height: 100%;
              padding: 1.5rem 1rem 1.5rem 1.5rem;
              @media (--large-breakpoint) {
                padding: 1.5rem 1rem 1.5rem 1.5rem;
              }
              @media (--medium-breakpoint) {
                padding: 1.25rem 0.75rem 1.25rem 1.25rem;
              }
              @media (--small-breakpoint) {
                padding: 1rem 0.75rem 1rem 1rem;
              }
              overflow: hidden;
              &:last-child {
                margin-right: calc(var(--padding-main-horz) + var(--_aside-dragger-width));
              }

              & > div:first-child {
                flex-shrink: 0;
                position: relative;
                width: clamp(6.1875rem, 4.8375rem + 3.51219512195122vw, 8.4375rem);
                height: clamp(6.1875rem, 5.0625rem + 2.926829268292683vw, 8.0625rem);
                padding: 0.5rem 1rem;
                & img {
                  position: relative;
                  max-width: 100%;
                  max-height: 100%;
                  object-fit: contain !important;
                  margin: 0 auto;
                  z-index: 1;
                }
                &:not(.imgSkel) {
                  border: 2px solid var(--c-purple-border);
                  border-radius: 6px;
                  background-color: var(--c-lvl-2);
                  &::after {
                    content: "";
                    position: absolute;
                    left: 5px;
                    bottom: 0;
                    display: block;
                    width: 100%;
                    max-width: 121px;
                    height: 48px;
                    border-radius: 50%;
                    background-color: var(--c-magenta-500);
                    filter: blur(50px);
                  }
                }
              }
              & > div:last-child {
                flex-grow: 1;
                & h3 {
                  font: var(--h3);
                  font-size: var(--h3-clamp);
                }
                & p {
                  font: var(--para-small);
                  font-size: var(--para-small-clamp);
                }
              }

              &.skeleton {
                & > div:last-child {
                  margin-top: 6px;
                  & > div:first-child {
                    margin-bottom: 12px;
                  }
                  & .paraSkel:not(:last-child) {
                    margin-bottom: 8px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  & section.games {
    @media (width <= 800px) {
      & hgroup {
        margin-bottom: 1rem;
      }
    }

    & .content {
      & header {
        position: relative;
        display: grid;
        grid-template-columns: auto auto minmax(143px, 1fr);
        align-items: center;
        padding: 1rem 2rem;
        border-bottom: 2px solid var(--c-purple-border);
        border-radius: 12px 12px 0 0 ;
        background-color: var(--c-lvl-2);
        @media (width <= 800px) {
          grid-template-columns: auto minmax(143px, 1fr);
        }
        @media (--small-breakpoint) {
          grid-template-columns: 1fr;
        }

        & hgroup {
          @media (width >= 1193px) {
            padding-right: 2rem;
          }
          @media (width <= 1192px) {
            padding-right: 1rem;
          }
          /* padding-right: 2rem; */
          @media (width >= 723px) {
            border-right: 2px solid var(--c-purple-border);
            margin-right: 1rem;
          }
          & svg {
            transform: translateY(-3px);
          }
        }

        & .filters {
          min-width: 0;
          margin-right: 1rem;
          & > :global(.scrollbar) {
            bottom: -(var(--_horz-scrollbar-height)) !important;
          }
          & > :global(.viewport) {
            & > div {
              display: flex !important;
              gap: 1rem;
              align-items: center;
              & button {
                align-items: center;
                gap: 0.5rem;
                height: 36px;
                font-size: var(--para-medium-clamp);
                font-style: italic;
                color: var(--c-heading-2);
                opacity: 0.8;
                transition: 0.33s ease-in-out margin-right, 0.22s ease-in-out filter, 0.22s ease-in-out opacity;
                @media (width <= 1192px) {
                  margin-right: 4px !important;
                }
                &[aria-pressed="true"] {
                  padding: 6px 0.5rem;
                  border: 2px solid var(--c-purple-700);
                  border-radius: 6px;
                  filter: drop-shadow(0 0 0.75rem rgba(178, 67, 178, 0.35));
                  opacity: 1;
                }
                &:hover,
                &:focus-visible {
                  opacity: 1;
                }
              }
            }
          }
        }
        & form {
          width: 100%;
          & > :global(.control):first-of-type {
            width: 100%;
            & :global(.inputInner) {
              background-color: var(--c-lvl-3);
            }
          }

          @media (--large-breakpoint), (--medium-breakpoint) {
            justify-self: flex-end;
            max-width: 336px;
          }
          @media (--small-breakpoint) {
            display: flex;
            & > :global(.control):first-of-type {
              max-width: 248px;
              margin-right: -2px;
              & :global(.inputInner) {
                border-radius: 6px 0 0 6px;
              }
            }
            & > :global(.control):last-of-type {
              width: 100%;
              max-width: 129px;
              @media (width <= 374px) {
                max-width: 102px;
              }
              & :global(.selectInner) {
                border-radius: 0 6px 6px 0;
              }
            }
          }
        }
      }

      & > div:last-child :global(.viewport) {
        padding-block: 1.5rem;
        & > div {
          padding-inline: 2rem;
          & > p {
            color: var(--c-heading-2);
          }

          & ul:global(#activeGames) {
            display: grid;
            grid-template-columns: repeat(auto-fill, 168px);
            justify-content: space-between;
            gap: 2rem 2rem;
            & li.game {
              & article {
                position: relative;
                & > div:first-child {
                  position: absolute;
                  top: 1px;
                  right: 1px;
                  display: flex;
                  z-index: 1;
                  & button {
                    border: 1px solid var(--c-purple-800);
                    background-color: rgba(95, 67, 178, 0.5);
                    transition:
                      0.22s ease-in-out background-color,
                      0.22s ease-in-out border-color;
                    &:first-child {
                      border-bottom-left-radius: 6px;
                    }
                    &:last-child {
                      border-top-right-radius: 5px;
                      & svg use {
                        fill: #C63B50;
                      }
                      /* aria-pressed means that its their favourite. */
                      &[aria-pressed="true"] svg use {
                        fill: #db1e3a;
                      }
                    }

                    /* TODO: Look for better colours? */
                    &:hover,
                    &:focus-visible {
                      background-color: rgba(67, 48, 126, 0.8);
                      border-color: var(--c-purple-600);
                    }
                    &:active,
                    &[data-key-press="true"],
                    &[aria-pressed="true"]
                    {
                      background: #201735;
                      border-color: var(--c-purple-600);
                    }
                  }
                }

                & a {
                  & .inner {
                    height: 168px;
                    border: 2px solid var(--c-purple-border);
                    border-radius: 6px;
                    & > div img {
                      border-radius: 4px;
                    }
                  }
                  & h3 {
                    margin-top: 6px;
                    font: var(--para-small);
                    line-height: 130%;
                  }
                }
              }

              &.skeleton .imgSkel {
                height: 168px;
                margin-bottom: 6px;
              }
            }
          }
        }
      }

      @media (width <= 1138px) {
        & header {
          padding-inline: 1rem;
        }
        & > div:last-child :global(.viewport) > div {
          padding-inline: 1rem;
          & ul:global(#activeGames) {
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}

.gameInfoCard {
  width: 100vw;
  max-width: 295px;
  padding: 6px 0.75rem 0.5rem;
  border: 2px solid var(--c-purple-border);
  border-radius: 12px;
  background-color: var(--c-lvl-4);

  & > p {
    font: var(--para-regular);
    font-weight: 600;
    margin-bottom: 0.5rem;
    & span {
      font-weight: 700;
      color: var(--c-status-green);
    }
  }
  & > div {
    height: 100%;
    & :global(.viewport) {
      max-height: 56.9px;
      & > div p {
        font: var(--para-x-small);
      }
    }
    & :global(.scrollbar) {
      margin-block: 2px !important;
    }
  }
}
