.modal :global(.viewport) {
  max-height: 759px;
  padding-bottom: 1rem !important;
  & > div {
    & :global(.head) {
      justify-content: space-between;
      flex-wrap: wrap;
      column-gap: 1rem;
      & > div {
        & span:first-child {
          color: var(--c-status-red);
        }
        & span:last-child {
          font-style: italic;
          color: var(--c-heading-2);
        }
      }
    }

    & form {
      margin-bottom: 1.5rem;
      & :global(.inputs) {
        & :global(.control) input[type="number"] {
          -webkit-appearance: none;
          -moz-appearance: textfield;
        }
        & div[role="group"] {
          display: flex;
          margin-bottom: 1.5rem;
        }
        & div[role="group"]:not(:last-of-type) {
          @media (width >= 461px) {
            gap: 1rem;
          }
          @media (width <= 460px) {
            flex-direction: column;
            gap: 1.5rem;
          }
        }
        & div[role="group"]:last-of-type {
          & > :global(.control):first-of-type {
            max-width: 126px;
            & :global(.select) {
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              & label :global(.required) {
                display: none;
              }
            }
          }
          & > :global(.control):last-of-type :global(.input) {
            right: 2px;
            width: calc(100% + 2px) !important;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }

      & .submit {
        & button {
          margin-bottom: 4px;
        }
        & p {
          font: var(--para-x-small);
          color: var(--c-para-faded);
          & a {
            color: var(--c-para);
          }
        }
      }
    }

    & .or {
      position: relative;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-block: 1.25rem 1rem;
      & hr {
        width: 100%;
        border-top: 1px solid var(--c-purple-border);
      }
      & span {
        color: var(--c-heading-2);
        background-color: inherit;
        white-space: nowrap;
      }
    }
    & button.google {
      width: 100%;
      margin-bottom: 1.25rem;
      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        & svg {
          & use {
            fill: var(--c-heading-2);
          }
        }
      }
    }

    & .already {
      font: var(--para-small);
      color: var(--c-para-faded);
      & a {
        color: var(--c-para);
      }
    }
  }
}
