<!doctype html>
<html lang="en">
  <!--head-->
  <body>
    <main>
      <div class="container">
        <h1>Not to Worry!</h1>
        
        <div class="content">
          <p>
            We received a request to reset the password for your profile associated with this email. Please use the link
            below to securely reset your password.
          </p>
          <a class="action" href="<!--url-->/about?reset=<!--token-->">Reset Password</a>
          <p class="note">This reset link will expire in 24 hours.</p>
        </div>
      </div>
    </main>
    <!--footer-->
  </body>
</html>
