.avatar {
  position: relative;
  & div,
  & div::before,
  & img {
    border-radius: 50%;
  }
  &.primary {
    border-radius: 50%;
    background-color: var(--c-lvl-2);
    & div {
      border: 2px solid rgba(95, 67, 178, 0.7);
    }

    & .activityIndie {
      position: absolute;
      bottom: 2px;
      display: block;
      border-radius: 50%;
      &[aria-label="online"] {
        background-color: var(--c-status-green);
      }
      &[aria-label="away"] {
        background-color: var(--c-status-yellow);
      }
      &[aria-label="offline"] {
        background-color: var(--c-status-red);
      }
    }

    &.sm {
      width: 24px;
      height: 24px;
      & div {
        border-width: 1px;
      }
      & .activityIndie {
        right: 0;
        width: 5px;
        height: 5px;
      }
    }
    &.md {
      width: 40px;
      height: 40px;
      & div {
        border-width: 1px;
      }
      & .activityIndie {
        right: 2px;
        width: 8px;
        height: 8px;
      }
    }
    &.lrg {
      width: 64px;
      height: 64px;
      & .activityIndie {
        right: 4px;
        width: 12px;
        height: 12px;
      }
    }
    &.xl {
      width: 94px;
      height: 94px;
      & .activityIndie {
        right: 6px;
        width: 18px;
        height: 18px;
      }
    }
    &.xxl {
      width: 116px;
      height: 116px;
      & .activityIndie {
        right: 8px;
        width: 22px;
        height: 22px;
      }
    }
    &.xxxl {
      width: 169px;
      height: 169px;
      & .activityIndie {
        right: 16px;
        bottom: 5px;
        width: 26px;
        height: 26px;
      }
    }
  }
}

.profileCard {
  & div :global(.viewport) {
    width: 100%;
    & hgroup {
      word-break: break-all;
      & div {
        position: relative;
      }
    }
    & p {
      margin-top: 5px;
    }
  }

  &.sm > div :global(.viewport),
  &.md > div :global(.viewport),
  &.lrg > div :global(.viewport) {
    padding: 5px 0.75rem;
    & hgroup {
      word-break: break-all;
      & h4 {
        font: var(--h4);
      }
      & div {
        bottom: 6px;
        margin-bottom: -6px;
        & span {
          font: var(--para-small);
        }
      }
    }
    & p {
      font: var(--para-x-small);
    }
  }
  &.xl > div :global(.viewport),
  &.xxl > div :global(.viewport) {
    padding: 0.5rem 1rem;
    & hgroup {
      word-break: break-all;
      & h4 {
        font: var(--h3);
      }
      & div {
        bottom: 4px;
        margin-bottom: -4px;
      }
    }
    & p {
      font: var(--para-small);
    }
  }
  &.sm > div :global(.viewport) {
    max-width: 196px;
    max-height: 82px;
  }
  &.md > div :global(.viewport) {
    max-width: 216px;
    max-height: 102px;
  }
  &.lrg > div :global(.viewport) {
    max-width: 240px;
    max-height: 122px;
  }
  &.xl > div :global(.viewport) {
    max-width: 264px;
    max-height: 128px;
  }
  &.xxl > div :global(.viewport) {
    max-width: 320px;
    max-height: 148px;
  }
}
