& .link {
  position: relative;
  color: inherit;
  transition: 0.22s ease-in-out color;
  &:not(.primary) {
    text-decoration: none;
  }

  &.primary {
    font-weight: 600;
    text-decoration: underline;
  }

  &.link:hover,
  &.link:focus-visible,
  &.link:active,
  &.link[data-key-press="true"] {
    color: var(--c-heading-1);
  }
  &.link:active,
  &.link[data-key-press="true"] {
    top: 1.7px;
  }
}
