.control {
  & :global(.inputInner) {
    &:global(.primary) {
      background-color: var(--c-lvl-2);
      &[data-focused="true"] {
        background-color: var(--c-lvl-3);
        & input {
          color: var(--c-heading-2);
        }
      }
      &[data-typing="true"] {
        & label {
          background-color: var(--c-lvl-2);
        }
      }

      & input,
      & textarea {
        padding-inline: 16px;
        background-color: transparent;
        color: var(--input-fade);
      }
      & textarea {
        max-width: 100%;
        max-height: 100%;
        /* resize: both; */
      }

      &.button {
        display: grid;
        grid-template-columns: minmax(0, 1fr) auto;
        & input {
          padding-right: 0.5rem;
        }
        & button {
          height: 100%;
          border: none;
          border-radius: 0;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          & svg {
            position: absolute;
          }
        }
      }

      &.icon {
        display: grid;
        grid-template-columns: auto minmax(0, 1fr);
        & svg {
          justify-self: center;
          align-self: center;
          margin-left: 0.75rem;
          & use {
            fill: var(--input-fade);
            transition: 0.28s ease-in-out fill;
          }
        }
        &:global(.lrg) input {
          padding-left: 0.5rem;
        }
        &:global(.xl) input {
          padding-left: 0.75rem;
        }
        & input::placeholder {
          opacity: 1;
          color: var(--input-fade);
          transition: 0.28s ease-in-out color; /* Doesn't actually work, but apparently should. */
        }

        &[data-focused="true"] {
          & input::placeholder {
            color: var(--c-heading-2);
          }
          & svg use {
            fill: var(--c-heading-2);
          }
        }
      }
    }
  }
}
