.viewport {
  position: fixed;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  pointer-events: none;
  z-index: var(--z-toast);

  & .toast {
    position: relative;
    width: 100%;
    max-width: 402px;
    height: fit-content;
    padding: 1rem;
    padding-bottom: 14px;
    border: 2px solid var(--c-purple-border);
    border-radius: 0.75rem;
    background-color: var(--c-lvl-6);
    pointer-events: auto;
    &[data-state="open"] {
      animation: fadeIn ease-out 0.5s forwards;
    }
    &[data-state="closed"] {
      animation: fadeOut ease-out 0.5s backwards;
    }

    & div:first-child {
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 4px);
      height: 12.775px;
      & svg {
        position: absolute;
        top: 0;
      }
    }

    & button.exit {
      position: absolute;
      top: -8px;
      right: -8px;
    }

    & div:last-of-type {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border: 2px solid;
      border-radius: 6px;
      margin-right: 0.5rem;
      float: left;
      background-color: var(--c-lvl-4);
    }

    & h3 {
      font: var(--h4);
    }
    & p,
    & p button {
      font: var(--para-x-small);
      line-height: 16px;
    }

    &.success {
      & div:first-child svg {
        fill: var(--c-status-green);
      }
      & div:last-of-type {
        border-color: var(--c-status-green);
        & svg {
          & use {
            fill: var(--c-status-green);
          }
        }
      }
    }
    &.error {
      & div:first-child svg {
        fill: var(--c-status-red);
      }
      & div:last-of-type {
        border-color: var(--c-status-red);
        & svg {
          & use {
            fill: var(--c-status-red);
          }
        }
      }
    }
    &.info {
      & div:first-child svg {
        fill: var(--c-status-blue);
      }
      & div:last-of-type {
        border-color: var(--c-status-blue);
        & svg {
          & use {
            fill: var(--c-status-blue);
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(-180px);
    opacity: 0;
  }
  70% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-135px);
    opacity: 0;
  }
}
