.modalBackdrop {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* TODO: Or however big the dashboard is. */
  width: 100vw;
  min-height: 100vh;
  background-color: rgba(19, 19, 19, 0.35);
  backdrop-filter: blur(6px);
  z-index: var(--z-overlay);

  & .modalContainer {
    width: 100%;
    margin: 0.5rem;
    border: 2px solid var(--c-purple-border);
    border-radius: 12px;
    background-color: var(--c-lvl-modal);
    backdrop-filter: blur(40px);

    & .modal {
      &:not(.scrollArea) {
        padding: 2rem;
      }
      & .viewport {
        padding: 2rem;
      }

      & button.exitXl {
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1;
      }

      & .head {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        &hgroup {
          gap: 0.75rem;
        }
        & h2 {
          font: var(--h1);
        }
      }
      & .head hgroup {
        display: flex;
        align-items: center;
        gap: 0.75rem;
      }

      & form {
        margin-bottom: 1.5rem;
        & .inputs {
          & > .control {
            margin-bottom: 1.5rem;
          }
          & .control {
            width: 100%;
          }
        }

        & button {
          width: 100%;
          &[disabled] {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
