.control {
  & :global(.selectInner) {
    &:global(.primary),
    &:global(.callingCode),
    &:global(.ghost) {
      & select {
        -webkit-appearance: none;
        -moz-appearance: none;
        position: absolute;
        top: 0;
        color: transparent;
        &::-ms-expand {
          display: none;
        }
        & option {
          color: var(--c-heading-2);
        }
      }
      &[data-focused="true"] {
        & select {
          color: var(--c-heading-2);
        }
        & svg {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
      &[data-selected="true"],
      &[data-label-hidden="true"] {
        & select {
          color: var(--input-fade);
        }
      }
      & svg {
        pointer-events: none;
        transition: 0.22s ease-in-out transform;
        & use {
          fill: var(--input-fade);
          transition: 0.28s ease-in-out fill;
        }
      }
    }


    &:global(.primary),
    &:global(.callingCode) {
      &[data-selected="true"] {
        & select {
          color: var(--c-heading-2);
        }
      }
      &[data-focused="true"] {
        & select {
          background-color: var(--c-lvl-3);
        }
        & svg use {
          fill: var(--c-heading-2);
        }
      }

      & label {
        pointer-events: none;
        z-index: 1;
      }

      & select {
        padding-inline: 16px 38px;
        &:focus-visible {
          border: 1px solid var(--c-purple-800);
          background-color: var(--c-lvl-3);
          border-radius: 3px;
        }
      }
      & svg {
        right: 0.75rem;
      }

      & span[role="status"] {
        margin: 0.5rem 38px 0 auto;
        z-index: 2;
      }
    }

    &:global(.primary) {
      & select,
      & label {
        background-color: var(--c-lvl-2);
      }
    }

    &:global(.callingCode) {
      & select,
      & label {
        background-color: var(--c-lvl-4);
      }
    }

    &:global(.ghost) {
      width: 63px;
      height: 26px;
      & select {
        padding-inline: 6px;
        font: var(--para-small);
        background-color: transparent;
        transition: 0.28s ease-in-out color;
        & option {
          background-color: var(--c-lvl-2);
        }
      }
      &:hover select {
        background-color: rgba(95, 67, 178, 0.1);
      }
      &:hover,
      &[data-focused="true"] {
        & select {
          background-color: rgba(95, 67, 178, 0.25);
          color: var(--c-purple-50);
        }
        & svg use {
          fill: var(--c-purple-50);
        }
      }
      & svg {
        right: 6px;
      }
    }
  }
}
