.stats {
  &.table,
  &.block {
    & hgroup {
      margin-bottom: 1rem;
    }
    &[data-scale-text="true"] {
      & hgroup {
        gap: 0.75rem;
        & h2 {
          font: var(--h2);
          font-size: var(--h2-clamp);
        }
      }
    }
    &[data-scale-text="false"] {
      & hgroup {
        gap: 0.5rem;
        & h2 {
          font: var(--h3);
        }
      }
    }

    &[data-scale-text="false"] .quests p {
      font: var(--para-medium);
    }
    & .quests {
      & .conquered p:global(#questCount) {
        color: var(--c-para-faded);
        font-style: italic;
        line-height: normal;
        & span {
          font-weight: 600;
          font-style: normal;
          color: var(--c-heading-2);
        }
      }
    }
  }

  &.table {
    & h3:global(.hUnderline) {
      margin-bottom: 8px;
    }

    &[data-scale-text="true"] {
      & h3:global(.hUnderline) {
        font-size: var(--h4-clamp);
      }

      & div[role="table"] div[role="rowgroup"] div[role="row"] span {
        &[role="rowheader"] {
          font-size: var(--para-small-clamp);
        }
        &[role="cell"] {
          font-size: clamp(1.0625rem, 0.9125rem + 0.3902439024390244vw, 1.3125rem);
        }
      }
    }

    & div[role="table"] {
      width: 100%;
      padding: 14px 1rem 13px;
      border: 2px solid var(--c-purple-border);
      border-radius: 6px;
      background-color: var(--c-lvl-2);
      & div[role="rowgroup"] {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        & div[role="row"] {
          display: flex;
          flex-direction: column;
          & span {
            &[role="rowheader"] {
              font: var(--para-small);
              font-style: italic;
              color: var(--c-para-faded);
              line-height: normal;
            }
            &[role="cell"] {
              width: fit-content;
              min-width: 0;
              font-size: 21px;
              font-weight: 600;
              line-height: normal;
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
          }
        }
      }
    }

    & .winLoss {
      & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      & div[role="table"] {
        margin-bottom: 0.5rem;
        & div[role="rowgroup"] div[role="row"] {
          &:first-child span[role="cell"] {
            color: var(--c-status-green);
          }
          &:nth-child(2) span[role="cell"] {
            color: var(--c-status-red);
          }
        }
      }
    }

    & .gamesPlayed {
      & div[role="table"] {
        margin-bottom: 1rem;
      }
    }

    & .quests {
      --_questChipHeight: 35px;
      --_horz-scrollbar-height: 0px;

      & > div:first-of-type {
        position: relative;
        height: calc(var(--_questChipHeight) + var(--_horz-scrollbar-height));
        margin-bottom: 0.75rem;
        & :global(.viewport) {
          position: absolute;
          width: 100%;
          height: inherit;
          & > div {
          height: inherit;
            & ul {
              display: flex;
              gap: 1rem;
              height: inherit;
              & li {
                max-width: 215.6663px;
                height: var(--_questChipHeight);
                padding: 6px 0.5rem 5px;
                padding-inline: 0.5rem;
                border: 1px solid var(--c-purple-border);
                border-radius: 6px;
                background-color: var(--c-lvl-2);
                font-style: italic;
                color: var(--c-heading-2);
                line-height: normal;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }
            }
          }
        }
      }

      & > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 0.5rem;
        & a {
          font: var(--para-small);
        }
      }
    }
    &[data-scale-text="true"] > div:last-child a {
      font-size: var(--para-small-clamp);
    }
  }

  &.block {
    & .quests {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      flex-wrap: wrap;

      & > div {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: fit-content;
        height: 64px;
        padding-inline: 10px;
        border: 2px solid var(--c-purple-border);
        border-radius: 6px;
        background-color: var(--c-lvl-3);
        & h4 {
          font: var(--para-small);
          font-style: italic;
          color: var(--c-para-faded);
          line-height: normal;
        }
        & p:not(:global(#questCount)) {
          font-size: 21px;
          font-weight: 600;
          line-height: normal;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        &.conquered {
          & a {
            font: var(--para-x-small);
          }
        }
        &.wins p {
          color: var(--c-status-green);
        }
        &.losses p {
          color: var(--c-status-red);
        }
      }
    }
  }
}
