.chat {
  --_headHeight: 132.2px;
  --_inputHeight: 64px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* FIXME: */
  border-top: 2px solid var(--c-purple-border);
  border-radius: 6px 6px 0 0;
  background-color: var(--c-lvl-2-trns);
  backdrop-filter: blur(40px);
  z-index: 1;

  & .head {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    & :global(.blob) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      filter: blur(40px);
      z-index: -1;
    }
    & .inner {
      padding: 0 1rem 0.5rem;
      background-color: var(--c-lvl-2-trns);
      backdrop-filter: blur(6px);
      /* z-index: 1; */
      /* z-index: 2; */
      &[data-state="enlarged"] button svg {
        transform: rotate(180deg);
      }
      & button {
        position: relative;
        right: 1rem;
        width: calc(100% + 2rem) !important;
        & svg {
          transition: 0.38s ease-in-out transform;
        }
      }
      &[data-state="enlarged"] hgroup {
        margin-block: 0.25rem 0.5rem;
      }
      & hgroup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        /* margin-top: 3.8px; */
        & h3 {
          font: var(--h3);
        }
      }
    }
  }

  & .chatMessages {
    position: relative;
    height: 100%;
    z-index: -1;
    & :global(.scrollbar) {
      margin-block: calc(var(--_headHeight) + 8px)
        calc(var(--_inputHeight) + 10px) !important;
    }
    & :global(.viewport) {
      height: 100%;
      padding: 0 0.75rem calc(var(--_inputHeight) + 8px);
      & > div {
        height: 100%;
        & > p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          white-space: nowrap;
        }

        & ul li {
          &:last-of-type {
            margin-bottom: 0 !important;
          }
          & .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & div.nameAva {
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }
        }
        & ul.skeleton li.messageSkeleton {
          margin-bottom: 1.75rem;
          & .info {
            margin-bottom: 10px;
            & .timeSkel {
              width: 23px;
            }
          }

          & .paraSkel:not(:last-child) {
            margin-bottom: 6px;
          }
        }
        & ul.conversation {
          & li.message {
            margin-bottom: 1.5rem;
            &:first-of-type {
              margin-top: calc(var(--_headHeight) + 0.5rem);
            }
            & .info {
              /* A message sent by the current user. */
              &[data-user],
              &[data-user] > div {
                flex-direction: row-reverse;
              }
              margin-bottom: 4px;
              & .nameAva h4,
              & time {
                font: var(--para-xx-small);
                color: var(--c-para-faded);
              }
              & .nameAva h4 {
                font-style: italic;
                letter-spacing: var(--para-letter-spaceing);
              }
              & time {
                opacity: 0.8;
              }
            }

            & p {
              font: var(--para-x-small);
            }
          }
        }
      }
    }
  }

  & form {
    position: absolute;
    bottom: 0;
    padding: 0.5rem 0.875rem 1rem;
    background: var(--c-lvl-2);
    /* background: transparent
      linear-gradient(0deg, #e6e6e6 0%, var(--c-lvl-2) 100%); */
    /* FIXME: Use before this opacity sets to all content. */
    opacity: 0.9;
    /* FIXME: */
    backdrop-filter: blur(15px);
    z-index: 2;
    & :global(.control) small[role="alert"] {
      font-size: 12px;
      font-weight: 600;
      & span {
        font-size: 14px;
        color: var(--c-status-yellow);
      }
    }
  }
}
