.chat {
  --_chat-head-height: 132.2px;
  --_chat-head-height-full: 80px;
  --_input-height: 70px;
  --_input-height-full: 88px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--c-lvl-2-trns);
  backdrop-filter: blur(40px);
  z-index: 1;

  & .head {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    & :global(.blob) {
      top: 50%;
      filter: blur(40px);
      z-index: -1;
    }
    & .inner {
      backdrop-filter: blur(6px);
      &[data-chat-state="enlarged"] > button svg {
        transform: rotate(180deg);
      }
      & > button {
        position: relative;
        right: 1rem;
        width: calc(100% + 2rem) !important;
        & svg {
          transition: 0.38s ease-in-out transform;
        }
      }
      &[data-chat-state="enlarged"] hgroup {
        margin-block: 0.25rem 0.5rem;
      }
      & hgroup {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  & .chatConversation {
    position: relative;
    height: 100%;
    z-index: -1;
    & :global(.viewport) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: inherit;
      & > div {
        height: 100%;

        & > p {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
          white-space: nowrap;
        }

        & .message, 
        & .messageSkeleton {
          &:last-of-type {
            margin-bottom: 0 !important;
          }
          & .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6px;
            & h4 {
              white-space: nowrap;
              text-overflow: ellipsis;
              overflow: hidden;
            }
            & .timeSkel {
              width: 23px;
            }
          }
        }
        & .message {
          & .header {
            & h4 {
              font: var(--para-xx-small);
            }
          }
        }
      }
    }
  }

  & .formContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    backdrop-filter: blur(15px);
    z-index: 2;
    &[data-restriction="true"] {
      padding-bottom: 4px !important;
    }

    & .typingMessage {
      position: absolute;
      white-space: nowrap;
      transition: 0.22s ease-in-out top;
      & span {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
      }
    }
    & form {
      & :global(.control) {
        opacity: 0.9;

        & small[role="alert"] {
          font-size: 12px;
          font-weight: 600;
          & span {
            font-size: 14px;
            color: var(--c-status-yellow);
          }
        }
      }
    }
  }

  &[data-aside-state="default"] {
    /* FIXME: */
    border-top: 2px solid var(--c-purple-border);
    border-radius: 6px 6px 0 0;
    & .head {
      & :global(.blob) {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      & .inner {
        padding: 0 1rem 0.5rem;
        background-color: var(--c-lvl-2-trns);
        & hgroup {
          & h3 {
            font: var(--h3);
          }
        }
      }
    }

    & .chatConversation {
      & :global(.scrollbar) {
        margin-block: calc(var(--_chat-head-height) + 8px)
          calc(var(--_input-height) + 10px) !important;
      }
      & :global(.viewport) {
        padding: 0 0.75rem calc(var(--_input-height) + 8px);

        & > div {
          & .message,
          & .messageSkeleton {
            &:first-of-type {
              margin-top: calc(var(--_chat-head-height) + 0.5rem);
            }
            & .nameAva {
              display: flex;
              align-items: center;
              gap: 4px;
            }
          }

          & .message {
            margin-bottom: 1.5rem;
            & .header {
              margin-bottom: 4px;
              /* A message sent by the current user. */
              &[data-user],
              &[data-user] > div {
                flex-direction: row-reverse;
              }
              & .nameAva h4 {
                font: var(--para-xx-small);
                color: var(--c-para-faded);
              }
              & time {
                opacity: 0.8;
              }
            }

            & p {
              font: var(--para-x-small);
              word-break: normal;
              overflow-wrap: anywhere;
            }
          }

          & .messageSkeleton {
            margin-bottom: 1.75rem;
            & .header {
              margin-bottom: 10px;
            }
  
            & .paraSkel:not(:last-child) {
              margin-bottom: 6px;
            }
          }
        }
      }
    }

    & .formContainer {
      --_is-typing-txt-width: 46.2167px;
      --_inline-padding: 0.75rem;

      padding: 1.25rem var(--_inline-padding) 0.625rem;
      & .typingMessage {
        top: 2px;
        width: calc(100% - var(--_inline-padding) - var(--_inline-padding));
        font: var(--para-xx-small);
        & span {
          max-width: calc(100% - var(--_is-typing-txt-width));
        }
      }
      & form :global(.control) small[role="alert"] {
        margin-top: 2px;
      }
    }
  }

  /* Fully expanded chat. */
  &[data-aside-state="enlarged"] {
    position: static;
    height: 100%;
    border: 2px solid var(--c-purple-border);
    border-radius: 12px;
    
    & .head {
      border-radius: 12px 12px 0 0;
      & :global(.blob) {
        left: 6px;
        transform: translateY(-50%);
        opacity: 0.7;
      }
      & .inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem 0.75rem;
        flex-wrap: wrap;
        padding-block: 1.1375rem;
        padding-inline: 1.5rem;
        border-bottom: 2px solid var(--c-purple-border);

        background-color: rgb(25, 17, 47, 0.5);
        & hgroup h3 {
          font: var(--h2);
        }
        & .roomBtns {
          display: flex;
          gap: 1rem;
        }
      }
    }

    & .chatConversation {
      & :global(.scrollbar) {
        margin-block: calc(var(--_chat-head-height-full) + 8px)
          calc(var(--_input-height-full) + 10px) !important;
      }
      & :global(.viewport) {
        padding: 0 1rem calc(var(--_input-height-full) + 12px);

        & > div {
          --_avatarWidth: 33px;

          & .message {
            width: fit-content;
            &:first-of-type {
              margin-top: calc(var(--_chat-head-height-full) + 0.75rem);
            }
            &[data-group-level="top"],
            &[data-group-level="mid"] {
              margin-bottom: 0.5rem;
            }
            &[data-group-level="bottom"],
            &[data-group-level="single"] {
              margin-bottom: 1.375rem;
              & .bubble p::after {
                content: "";
                position: absolute;
                width: 11.682px;
                height: 9.088px;
                bottom: 0;
              }
            }

            & .bubble {
              width: fit-content;
              min-width: 88px;
              & .header {
                margin: 0 4px 4px;
                & h4 {
                  color: var(--c-heading-2);
                }
              }
              & p {
                position: relative;
                padding: 6px 0.85rem;
                border-radius: 1rem;
                font: var(--para-small);
              }
              .pSkel {
                height: 34px;
                border-radius: 1rem;
              }
            }

            &[data-user="true"] {
              margin-left: auto;
              margin-right: var(--_avatarWidth);
              transform: translateX(var(--_avatarWidth));

              & .bubble {
                & .header {
                  flex-direction: row-reverse;
                }
                & p {
                  background-color: var(--c-purple-900);
                }
              }
              &[data-group-level="bottom"] .bubble p,
              &[data-group-level="single"] .bubble p {
                border-bottom-right-radius: 6px;
                margin-right: 5.5px;
                &::after {
                  background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='11.682' height='9.088'><path fill='#281c4b' d='M11.682 4.889c0 .842-3.027 2.164-5.947 3.214a17.783 17.783 0 0 1-5.731.984L4.735.656s.887-1.477.916 0c.74 1.562 6.031 3.356 6.031 4.233Z'/></svg>");
                  right: -5.5px;
                }
              }
            }

            &[data-user="false"] {
              display: grid;
              align-items: flex-end;
              gap: 4px;
              &[data-group-level="top"],
              &[data-group-level="mid"] {
                margin-left: var(--_avatarWidth);
              }

              & .bubble p {
                background-color: var(--c-purple-700);
              }
              &[data-group-level="bottom"],
              &[data-group-level="single"] {
                grid-template-columns: auto 1fr;
                & .bubble p {
                  border-bottom-left-radius: 6px;
                  margin-left: 5.5px;
                  &::after {
                    background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='11.682' height='9.088'><path fill='#43307e' d='M.004 4.889c0 .842 3.027 2.164 5.947 3.214a17.783 17.783 0 0 0 5.734.984L6.948.656s-.971-1.477-1 0C5.204 2.218.004 4.012.004 4.889Z'/></svg>");
                    left: -5.5px;
                  }
                }
              }
            }
          }
        }
      }
    }

    & .formContainer {
      --_is-typing-txt-width: 55px;
      --_inline-padding: 22px;

      padding: 24px var(--_inline-padding) 1rem;
      border-radius: 0 0 12px 12px;
      background: transparent linear-gradient(180deg, rgba(16, 13, 32, 0) 0%, rgb(40, 28, 75, 0.8) 100%);
      & .typingMessage {
        top: 3px;
        width: calc(100% - var(--_inline-padding) - var(--_inline-padding));
        font: var(--para-x-small);
        & span {
          max-width: calc(100% - var(--_is-typing-txt-width));
        }
      }
    }
  }
}
