.modal :global(.viewport) {
  padding-bottom: 1rem !important;
  max-height: 484px;
  & > div {
    display: flex !important;
    flex-direction: column;
    height: 100%;
    & > h2 {
      margin-bottom: 4px;
    }
    & > p {
      font: var(--para-medium);
      margin-bottom: 2rem;
    }

    & .back {
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      & a {
        color: var(--c-para-faded);
        font: var(--para-small);
      }
    }
  }
}
