.modal > :global(.viewport) {
  max-height: 607px;
  padding-bottom: 1rem !important;
  @media (width <= 500px) {
    padding-inline: 1.25rem !important;
  }

  & :global(.slideContent) {
    justify-content: center;
    @media (width >= 501px) {
      margin-inline: -1rem;
    }
  }

  & > div {
    display: flex !important;
    flex-direction: column;
    min-height: 100%;
    & > div[role=group] {
      flex-grow: 1;
      display: grid !important;
      grid-template-rows: auto 1fr auto;

      & :global(.head) {
        justify-content: space-between;
        gap: 0.75rem;
        flex-wrap: wrap-reverse;
        &[data-slide="Leaderboard"] {
          margin-bottom: 22px !important;
          hgroup svg {
            @media (width <= 365px) {
              display: none;
            }
          }
        }
        &[data-slide="Quests"] {
          margin-bottom: 20px !important;
        }
        &[data-slide="Bonuses"] {
          margin-bottom: 22px !important;
        }

        & > div {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          & button.info {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            background: var(--c-lvl-2);
          }

          & > div {
            display: flex;
            gap: 0.5rem;
            & button:first-child svg {
              transform: rotate(90deg) translateY(2px);
            }
            & button:last-child svg {
              transform: rotate(-90deg) translateY(2px);
            }
          }
        }
      }

      & > div:last-child {
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;
        @media (width <= 454px) {
          flex-direction: column-reverse;
          & .timer {
            margin-top: 10px;
          }
          & .indicators {
            align-self: center;
          }
        }

        & .timer {
          @media (width >= 455px) {
            position: absolute;
            top: 0;
            left: 0;
          }
          line-height: normal;
          & span {
            font-size: 14px;
            font-style: italic;
          }
          & time {
            font-weight: 600;
            color: var(--c-heading-1);
          }
        }

        & .indicators {
          display: flex;
          gap: 0.8rem;
          & button {
            position: relative;
            &::before {
              content: "";
              position: absolute;
              bottom: -3px;
              display: block;
              border-top: 2px solid var(--c-purple-400);
              border-radius: 1rem;
              transition: 0.3s ease-in-out width;
            }

            &[aria-pressed="true"] {
              & svg use {
                fill: var(--c-purple-400);
                transition: 0.3s ease-in-out fill;
              }
              &::before {
                width: 100%;
              }
            }
            &[aria-pressed="false"] {
              & svg use {
                fill: var(--c-para-faded);
                transition: 0.22s ease-in-out fill;
              }
              &::before {
                width: 0%;
              }
              &:hover svg use,
              &:focus-visible svg use {
                fill: var(--c-purple-50);
              }
            }
          }
        }
      }
    }
  }
}

.infoCard {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 588px;
  height: 100vh;
  max-height: 316px;
  padding: 10px 0.75rem 0.5rem;
  z-index: var(--z-modal);

  & h3 {
    font: var(--h4);
  }
  & p {
    font: var(--para-x-small);
    font-weight: 600;
    line-height: normal;
    color: var(--c-heading-2);
    margin-bottom: 0.75rem;
  }

  /* FIXME: Scrolling is only working when hovering the scrollbar. Something is covering the scrolling on the content with the scroll wheel, I tried everything, I don't know. */
  & > div {
    --_scrollbar-width: 11px;
    flex-grow: 1;

    & > :global(.viewport) {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      & > div {  
        & ul {
          list-style: decimal;
          padding-left: 14px;
          padding-right: var(--_scrollbar-width);
          & li {
            font: var(--para-small);
            &:not(:last-child) {
              margin-bottom: 6px;
            }
            &::marker {
              font-size: 15px;
              font-weight: 600;
              color: var(--c-purple-200);
            }
    
            & ul {
              list-style: disc;
            }
          }
        }
      }
    }
  }
}
