@import "../../../../../customMedia.css";
@import "../../../../../mixins.css";

.backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.35);
  backdrop-filter: blur(6px);
  z-index: var(--z-partial);
}

.aside {
  --_friends-head-height: 31.2px;
  --_chat-head-height: 81.2px;

  grid-column: 3;
  grid-row: 2;
  position: relative;
  border-bottom: 2px solid var(--c-purple-border);
  z-index: var(--z-partial);

  & .drawer {
    display: flex;
    align-items: center;
    height: 100%;
    transition: 0.1s ease-in-out width;
    @media (--large-breakpoint), (--medium-breakpoint) {
      max-width: calc(100vw - 1rem);
    }
    @media (--small-breakpoint) {
      max-width: calc(100vw - 0.375rem);
    }
    
    @media (--chat-aside-breakpoint) {
      @mixin chatAsideBreakpoint;
    }
    &:global(.chatAsideBreakpointProfile) {
      @mixin chatAsideBreakpoint;
    }

    & button.dragger {
      width: 8px;
      height: 102px;
      padding-block: 1rem;
      border: 2px solid var(--c-purple-border);
      border-left: none;
      border-radius: 12px 0 0 12px;
      touch-action: none;
      background: linear-gradient(180deg, var(--c-purple-500) 0%, #302259 100%);
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      & div {
        width: 2px;
        height: 100%;
        border-radius: 4px;
        margin-left: 3px;
        background-color: rgba(25, 17, 47, 0.65);
      }
    }

    &[data-aside-state="default"] {
      & .content {
        padding: 1.5rem 1rem var(--_chat-head-height);
        background-color: var(--c-lvl-1-trns); /* Might */
      }
    }

    &[data-aside-state="enlarged"] {
      position: absolute;
      right: 0;
      z-index: 6;
      & .content {
        display: grid;
        @media (width >= 682px) {
          grid-template-columns: minmax(0, 328px) minmax(328px, 1fr);
          column-gap: 2rem;
          padding: 2rem;
        }
        @media (563px <= width <= 681px) {
          grid-template-columns: 0.75fr 1fr;
          column-gap: 1rem;
          padding: 2rem 1rem;
        }
        @media (width <= 562px) {
          grid-template-columns: minmax(0, 328px) 1fr;
          grid-template-rows: 610px 610px;
          row-gap: 2rem;
          padding: 2rem;
          overflow-y: auto;
          & .friendsEnlarged {
            grid-column: 1;
            grid-row: 2;
          }
          & :global(#chat) {
            grid-column: span 2;
            grid-row: 1;
            height: 600px;
          }
        }
        border-top: 2px solid var(--c-purple-border);
        border-bottom: 2px solid var(--c-purple-border);
        background-color: rgba(19, 19, 19, 0.6);
      }
    }

    & .content {
      width: 100%;
      height: 100%;
      border-right: 2px solid var(--c-purple-border);
      border-left: 2px solid var(--c-purple-border);
      backdrop-filter: blur(40px);
      @media (height <= 525px) {
        overflow-y: auto;
      }

      & .head div {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        &[role="button"] {
          cursor: pointer;
        }
        & svg {
          transform: translateY(2px);
        }
        & h3 {
          font: var(--h3);
        }
      }

      & .friendsDefault {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: calc(100% - var(--_friends-head-height));
        & > a {
          font: var(--para-small);
          font-style: italic;
          text-align: center;
          margin-block: 0.25rem 1rem;
        }
        & > p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          text-align: center;
          &.loginToSee {
            font: var(--para-medium);
          }
          &.noFriends {
            font: var(--para-regular);
            & a {
              font-weight: 400;
            }
          }
        }

        & .friendsList {
          position: relative;
          width: 100%;
          height: 100%;
          & :global(.scrollbar) {
            margin-top: 0;
            transform: translateX(16px);
          }
          & :global(.viewport) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            & > div ul li.friend {
              display: flex;
              align-items: center;
              flex-direction: column;
              margin-bottom: 1.25rem;
              & h4 {
                font: var(--para-medium);
                line-height: 22px;
                font-style: italic;
              }
              & > button {
                font: var(--para-x-small);
              }
            }
          }
        }
      }

      /* Friends panel for enlarged chat. */
      & .friendsEnlarged {
        z-index: 1;
        position: relative;
        & :global(.blob) {
          top: 48px;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0.9;
          z-index: -1;
        }

        & .inner {
          display: grid;
          grid-template-rows: auto auto minmax(0, 1fr);
          height: 100%;
          padding: 1.5rem 1.5rem 0;
          border: 2px solid var(--c-purple-border);
          border-radius: 12px;
          background-color: var(--c-lvl-2-trns);
          backdrop-filter: blur(40px);
          overflow: auto;

          & .divider {
            width: calc(100% + 1rem);
            border-top: 1px solid var(--c-purple-border);
          }

          & .targetFriend {
            display: flex;
            align-items: center;
            flex-direction: column;
            & hgroup {
              text-align: center;
              &[role] h3 {
                font-size: 24px;
              }
              &:not([role]) h3 {
                font-size: 20px;
              }
              & h3 {
                font-family: "Myriad Pro", sans-serif;
                font-weight: 400;
                font-style: italic;
              }
              & p {
                position: relative;
                bottom: 3px;
                margin-bottom: -3px;
                font-size: inherit;
              }
            }
            & .divider {
              margin-block: 1rem 1.25rem;
              @media (height <= 784px) {
                margin-block: 0.5rem 0.75rem;
              }
            }
          }

          & > form {
            margin-bottom: 1rem;
          }

          & .lists {
            display: grid;
            grid-template-rows: 1fr auto 1fr;
            &[data-friend-targeted="true"] {
              @media (height <= 805px) {
                grid-template-rows: 1fr 1fr;
                & .divider {
                  display: none;
                }
              }
              @media (height <= 740px) {
                grid-template-rows: 1fr;
                & .friendsListContainer {
                  display: none;
                }
              }
            }
            &[data-friend-targeted="false"] {
              @media (height <= 620px) {
                grid-template-rows: 1fr 1fr;
                & .divider {
                  display: none;
                }
              }
              @media (height <= 571px) {
                grid-template-rows: 1fr;
                & .friendsListContainer {
                  display: none;
                }
              }
            }

            & :global(.viewport) {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
            }

            & p.noResults {
              font: var(--para-small);
            }

            & .searchResults {
              grid-row: span 3;
            }

            & .prevChatsContainer,
            & .friendsListContainer,
            & .searchResults {
              & :global(.hUnderline) {
                margin-bottom: 0.25rem;
              }

              & > div :global(.viewport) > div {
                & ul li.friend {
                  display: grid;
                  grid-template-columns: auto minmax(0, 1fr);
                  padding-block: 0.5rem;
                  margin-right: 1rem;
                  & button {
                    display: flex;
                    flex-direction: column;
                    margin-left: 0.5rem;
                    text-align: left;
                    transition: 0.22s ease-in-out filter, 0.22s ease-in-out opacity;
                    & h5,
                    & p {
                      white-space: nowrap;
                      text-overflow: ellipsis;
                      overflow: hidden;
                    }
                    & h5 {
                      font: var(--para-small);
                      line-height: 130%;
                      color: var(--c-heading-2);
                    }
                    & p {
                      font: var(--para-xx-small);
                      color: var(--c-para-faded);
                    }
    
                    &:not(:disabled) {
                      &:hover,
                      &:focus-visible {
                        filter: drop-shadow(0 0 0.75rem var(--c-magenta-500));
                      }
                      &:active,
                      &[data-key-press="true"],
                      &[aria-pressed="true"] {
                        filter: drop-shadow(0 0 0.75rem var(--c-magenta-500));
                        & h5 {
                          color: var(--c-heading-1);
                        }
                        & span,
                        & p {
                          color: #dadada
                        }
                      }
                    }
                  }
                }
              }
            }

            & .prevChatsContainer {
              & > div {
                height: calc(100% - 25.4px - 1rem);

                & :global(.viewport) > div {
                  & ul li.friend {
                    margin-bottom: 0.5rem;
                    &[data-target="true"] {
                      margin-top: 0.5rem;
                      padding-right: 0.5rem;
                      border-radius: 6px;
                      box-shadow: inset 0 0 0 1px var(--c-purple-border);
                      & button {
                        filter: drop-shadow(0 0 0.75rem var(--c-magenta-500));
                        & h5 {
                          color: var(--c-heading-1);
                        }
                        & span,
                        & p {
                          color: #dadada
                        }
                      }
                    }
                    & button > div {
                      display: flex;
                      justify-content: space-between;
                      align-items: center;
                      gap: 6px;
                      margin-bottom: 6px;
                    }
                  }
                }

                @media (height <= 631px) {
                  & :global(.viewport) {
                    min-height: 100.733px;
                  }
                  & :global(.scrollbar) {
                    min-height: calc(100.733px - 1.25rem - 4px);
                  }
                }
              }
            }

            & .divider { 
              margin-bottom: 0.75rem;
              transform: translateX(-0.5rem);
            }

            & .friendsListContainer {
              & > div:first-child {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 0.5rem;
                & a {
                  font: var(--para-small);
                  font-style: italic;
                  transform: translateY(-2px);
                }
              }
              & > div:last-child {
                height: calc(100% - 25.4px - 1rem);

                & :global(.viewport) {
                  & > div {
                    & ul li.friend {
                      margin-bottom: 4px;
                      &[data-target="true"] {
                        opacity: 0.68;
                      }
                      & button {
                        justify-content: center;
                        transform: translateY(1px);
                        & :global(.timestamp) {
                          display: block;
                          position: relative;
                          bottom: 2px;
                          margin-bottom: -2px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
