.backdrop {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.35);
  backdrop-filter: blur(6px);
  z-index: var(--z-partial);
}

.aside {
  grid-column: 3;
  grid-row: 2;
  position: relative;
  border-bottom: 2px solid var(--c-purple-border);
  z-index: var(--z-partial);

  & .drawer {
    display: flex;
    align-items: center;
    width: 222px;
    height: 100%;
    &[data-state="enlarged"] {
      position: absolute;
      right: 0;
      z-index: 6;
      & .content {
        border-top: 2px solid var(--c-purple-border);
        border-bottom: 2px solid var(--c-purple-border);
      }
    }

    & button.dragger {
      width: 8px;
      height: 102px;
      padding-block: 1rem;
      border: 2px solid var(--c-purple-border);
      border-left: none;
      border-radius: 12px 0 0 12px;
      touch-action: none;
      background: linear-gradient(180deg, var(--c-purple-500) 0%, #302259 100%);
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
      & div {
        width: 2px;
        height: 100%;
        border-radius: 4px;
        margin-left: 3px;
        background-color: rgba(25, 17, 47, 0.65);
      }
    }

    & .content {
      display: grid;
      grid-template-rows: auto minmax(0, 1fr);
      padding: 1.5rem 1rem 81.2px;
      border-right: 2px solid var(--c-purple-border);
      border-left: 2px solid var(--c-purple-border);
      width: 100%;
      height: 100%;
      background-color: var(--c-lvl-1-trns);
      backdrop-filter: blur(40px);
      & .head {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        & svg {
          transform: translateY(2px);
        }
        & h3 {
          font: var(--h3);
        }
      }

      & .friends {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        & a {
          font-weight: 400;
          &.add {
            font: var(--para-small);
            font-style: italic;
            text-align: center;
            margin-block: 0.25rem 1rem;
          }
        }

        & > div:first-of-type {
          position: relative;
          width: 100%;
          height: 100%;
          & :global(.scrollbar) {
            margin-top: 0;
            transform: translateX(16px);
          }
          & :global(.viewport) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: inherit;
            & > div .friend {
              display: flex;
              align-items: center;
              flex-direction: column;
              margin-bottom: 1.25rem;
              & h4 {
                font: var(--para-medium);
                line-height: 22px;
                font-style: italic;
              }
              & > a {
                display: block;
                font: var(--para-x-small);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
