.successMsg,
.errorMsg {
  display: block;
  margin-bottom: 1rem;
  font: var(--para-regular);
  & button {
    display: inline;
    font: var(--para-regular);
  }
}
.successMsg {
  color: var(--c-status-green);
  & a,
  & button {
    &:hover,
    &:focus-visible,
    &:active,
    &[data-key-press="true"] {
      color: #3eca61 !important;
    }
  }
}
.errorMsg {
  color: var(--c-status-red);
  & a,
  & button {
    &:hover,
    &:focus-visible,
    &:active,
    &[data-key-press="true"] {
      color: #df2b46 !important;
    }
  }
}
