.modal > :global(.viewport) {
  max-height: 783px;
  @media (width <= 757px) {
    padding-inline: 1.25rem !important;
  }

  & > div {
    display: block !important;
    @media (width >= 699px) {
      height: calc(783px - 2rem - 2rem) !important;
    }

    & > span[role="status"] {
      margin: auto auto;
    }

    & > p[role="alert"] {
      color: var(--c-status-red);
      & a {
        &:hover,
        &:focus-visible,
        &:active,
        &[data-key-press="true"] {
          color: #df2b46 !important;
        }
      }
    }

    & > div[role="group"] {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 100%;
      @media (width <= 698px) {
        grid-template-columns: 1fr;
        & section {
          &.activity {
            grid-row: 3;
          }
          &.activity {
            margin-top: 1.5rem;
          }
        }
      }

      & section {
        border: 2px solid var(--c-purple-border);
        border-radius: 6px;
        &.statistics,
        &.activity > div > :global(.viewport) {
          padding: 1rem;
        }
        &.statistics,
        &.activity {
          max-width: 370px;
          background-color: var(--c-lvl-2);
          height: 100%;
        }

        &.info {
          grid-column: span 2;
          padding: 1rem 1rem 1.125rem;
          margin-bottom: 1.5rem;
          background-color: var(--c-lvl-2);
          background: linear-gradient(
            100deg,
            var(--c-lvl-2) 47%,
            rgba(98, 37, 98, 0.5) 100%
          );
  
          & .content {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1.25rem;
            @media (width <= 488px) {
              flex-wrap: wrap;
            }
  
            & > div:last-child {
              min-width: 0;
              max-height: 170px;
              & hgroup {
                margin-bottom: 1rem;
                & h2,
                & > div p {
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                }
                & h2 {
                  font: var(--h1);
                  font-size: var(--h1-clamp);
                  line-height: 100%;
                }
                & > div {
                  display: flex;
                  align-items: center;
                  & p {
                    font: var(--para-large);
                    font-size: var(--h3-clamp);
                  }
                  & > div {
                    margin-left: 0.5rem;
                    & img.flag {
                      width: 28px;
                      height: 20.46px;
                    }
                  }
                }
              }
              & .bio {
                height: 100%;
                & > :global(.viewport) {
                  max-height: 88.4667px;
                  & > div p {
                    font: var(--para-small);
                  }
                }
              }
            }
          }
          & .actions {
            display: flex;
            gap: 1rem;
            flex-wrap: wrap;
            & button {
              &:last-child {
                background: var(--c-lvl-2);
              }
              &[disabled] {
                opacity: 0.68;
              }
            }
          }
        }

        &.statistics {
          @media (width >= 699px) {
            margin-right: 1.5rem;
          }
        }

        &.activity {
          min-height: 427.7px;
          overflow: hidden;
          & > div {
            height: 100%;
            & > :global(.viewport) {
              position: absolute;
              width: 100%;
              height: calc(100% + 1rem);
            }
          }
        }
      }
    }
  }
}
